html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.navbar {
  padding-left: 10%;
  padding-right: 10%;
}

svg {
  width: 25px;
  height: 25px;
}

.carousel-item img {
  max-height: 900px;
}

.about div.row,
.card-deck,
.form {
  border-top: 2px solid darkturquoise;
}

.ico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: darkturquoise;
}

.ico i {
  display: block;
}

.card {
  background-color: darkturquoise;
}

.card img {
  max-height: 200px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkturquoise;
  color: white;
}

@media screen and (max-width: 600px) {

  footer {
    justify-content: center;
  }

  footer div {
    padding: 5px;
  }
}